


<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>    

<center>
<h1>Here is your result of voting </h1>
<h1>{{ question.question_text }}</h1>
<center>

<ul>
{% for choice in question.choice_set.all %}
   <h2> <li>{{ choice.choice_text }} -- {{ choice.votes }} vote{{ choice.votes|pluralize }}</li></h2>
{% endfor %}
</ul>

</center>
<h1>
<a href="{% url 'polls:detail' question.id %}">Vote again?</a>
</h1>
<p>--------------------------------------------------------------------------------------------------------------------------------------------------
    ------------------------------------------------------------------</p>
<h1>
<a href="http://127.0.0.1:8000/polls/">Change Question ?</a>
</h1>
</center>

</body
</html>